# FPGA build artifacts
*.dump.txt
*pin_model_dump*
c5_pin_model_dump.txt

# Quartus files
*.qpf
*.qsf
*.qws
*.bak
*.rpt
*.summary
*.pin
*.sof
*.pof

db/
incremental_db/
output_files/
simulation/
.qsys_edit/